body {
  text-align: center;
  background: #ffe6f2;
  font-family: 'Comic Sans MS', cursive;
  padding-top: 50px;
  position: relative;
}
h1 {
  font-size: 40px;
  color: #ff1a75;
}
.question {
  font-size: 24px;
  margin: 30px 0;
  color: #cc0066;
}
.buttons button {
  padding: 15px 25px;
  font-size: 18px;
  margin: 15px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  background-color: #ff1a75;
  color: white;
  box-shadow: 2px 2px 8px #aaa;
  transition: transform 0.2s;
  position: relative;
}
.buttons button:hover {
  transform: scale(1.1);
}
.message {
  margin-top: 50px;
  font-size: 20px;
  color: darkred;
}
