body{
    margin:0;
    font-family: Arial, sans-serif;
    text-align:center;
    color:white;
    overflow:hidden;
    background: linear-gradient(120deg,#ff758c,#ff7eb3);
}
.screen{
    display:none;
    height:100vh;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:30px;
    position:relative;
}
.active{ display:flex; animation:fade 1s ease; }
@keyframes fade{
    from{opacity:0;transform:scale(0.95);}
    to{opacity:1;transform:scale(1);}
}
button,input{
    margin-top:25px;
    padding:12px 25px;
    font-size:18px;
    border:none;
    border-radius:25px;
}
button{
    background:white;
    color:#ff4d6d;
    font-weight:bold;
    cursor:pointer;
    box-shadow:0 0 15px rgba(255,255,255,0.5);
}
input{
    width:250px;
    text-align:center;
}
#runBtn{
    position:absolute;
    cursor:pointer;
    transition: all 0.3s ease;
}
#yesBtn{
    transition: all 0.3s ease;
}
.gift{
    font-size:100px;
    cursor:pointer;
    user-select:none;
    position:relative;
}
.heart{
    position:absolute;
    color:pink;
    font-size:20px;
    user-select:none;
    animation:fall 2s linear forwards;
}
@keyframes fall{
    0%{transform:translateY(0);opacity:1;}
    100%{transform:translateY(-50px);opacity:0;}
}
#giftText{
    font-size:30px;
    margin-top:20px;
    display:none;
}
